page-sendmessage {
    ion-header
    {
        -webkit-text-fill-color: white;
        background-color: black;
        height: 50px;
        text-align: center 
    }
    button
    {
        left: 30%;
    }
}
